@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --green: #16a085;
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--green);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s ease-out;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--black);
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background-color: #f5f5f5;
}

.title {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.title span {
  text-transform: uppercase;
  color: var(--green);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: var(--green);
  color: #fff;
}

.btn:hover span {
  color: var(--green);
  background-color: #fff;
  margin-left: 1rem;
}
.btn span {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--green);
  color: #fff;
  margin-left: 0.5rem;
}

.header {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  font-size: 2.5rem;
  color: var(--black);
}

.logo i {
  color: var(--green);
}

.menu ul {
  display: flex;
  gap: 20px;
}

.menu li {
  list-style: none;
}

.menu a {
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--black);
}

.menu a:hover {
  color: var(--green);
}

#menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background-color: #eee;
  color: var(--green);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
  padding-top: 10rem;
}

.home__image {
  flex: 1 1 45rem;
}

.home__image img {
  width: 100%;
}

.home__content {
  flex: 1 1 45rem;
}

.home__content h3 {
  font-size: 4.5rem;
  color: var(--black);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}

.home__content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.icons {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons__item {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2.5rem;
}

.icons__item i {
  font-size: 4.5rem;
  color: var(--green);
  padding-bottom: 0.7rem;
}

.icons__item h3 {
  font-size: 4.5rem;
  color: var(--black);
  padding-bottom: 0.5rem 0;
  text-shadow: var(--text-shadow);
}

.icons__item p {
  font-size: 1.7rem;
  color: var(--light-color);
  padding-bottom: 0.5rem 0;
}

.services__box-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}

.services__box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 2.5rem;
}

.services__box i {
  color: var(--green);
  font-size: 5rem;
  padding-bottom: 0.5rem;
}

.services__box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.services__box p {
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}

.about__image {
  flex: 1 1 45rem;
}

.about__image img {
  width: 100%;
}

.about__content {
  flex: 1 1 45rem;
}

.about__content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.about__content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}

.doctors__box-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}

.doctor {
  text-align: center;
  background-color: #fff;
  border-radius: 0.5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.doctor__img {
  height: 20rem;
  border: var(--border);
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.doctor h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.doctor span {
  color: var(--green);
  font-size: 1.5rem;
}

.doctor__social {
  padding-top: 2rem;
}

.doctor__social a {
  width: 5rem;
  height: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--green);
  border: var(--border);
  border-radius: 0.5rem;
  margin: 0.3rem;
}

.doctor__social a:hover {
  background-color: var(--green);
  color: #fff;
  box-shadow: var(--box-shadow);
}

.book__flex-row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}

.book__image {
  flex: 1 1 45rem;
}

.book__image img {
  width: 100%;
}

form {
  flex: 1 1 45rem;
  background-color: #fff;
  border: var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 2rem;
}

/*==============================================*/

@media (max-width: 1315px) {
  .home__content h3 {
    font-size: 3.4rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem 9%;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .home,
  .about .row {
    flex-wrap: wrap;
  }

  .home__content h3 {
    font-size: 4rem;
  }

  #menu-btn {
    display: initial;
  }
  .menu {
    position: absolute;
    top: 125%;
    right: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    border: var(--border);
    background-color: #fff;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
  }

  .menu.active {
    opacity: 1;
    transform: scale(1);
    transition: 0.2s ease-out;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    margin: 2.5rem;
  }

  .menu a {
    display: block;
    font-size: 2rem;
  }

  .menu a:hover {
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  .home__content h3,
  .about__content h3 {
    font-size: 3.2rem;
  }
}
